# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# macOS / Windows system files
.DS_Store
Thumbs.db

# Pygame related temp files (if any)
*.log
